.metadata/
RemoteSystemsTempFiles/
/movie_list/.gitignore
*/.classpath
*/.project
*/.settings
*/target
*/DS_Store
*/.springBeans
/Movies_Theaters_Service/.DS_Store
/Movies_Theaters_Service/.classpath
/Movies_Theaters_Service/.gitignore
/Movies_Theaters_Service/.settings
/Movies_Theaters_Service/.springBeans
/Movies_Theaters_Service/target
/Users_Accounts_Service/.DS_Store
/Users_Accounts_Service/.classpath
/Users_Accounts_Service/.project
/Users_Accounts_Service/.settings
/Users_Accounts_Service/target
/common-error/.classpath
/common-error/.gitignore
/common-error/.project
/common-error/.settings
/common-error/target
/davidango-config-service/.DS_Store
/davidango-config-servce/.classpath
/davidango-config-service/.gitignore
/davidango-config-service/.project
/davidango-config-service/.settings
/davidango-config-service/.springBeans
/davidango-config-service/README.txt
/davidango-config-service/target
/davidango-eureka-service/.DS_Store
/davidango-eureka-service/.classpath
/davidango-eureka-service/.gitignore
/davidango-eureka-service/.project
/davidango-eureka-service/.settings
/davidango-eureka-service/.springBeans
/davidango-eureka-service/target
/davidango-tests/.DS_Store
/davidango-tests/.classpath
/davidango-tests/.gitignore
/davidango-tests/.project
/davidango-tests/.settings
/davidango-tests/target
